.container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  p {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .key {
    opacity: 0.5;
    font-size: 12px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  button {
    width: 120px;
  }
}

