<table
  mat-table
  [dataSource]="productList()"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[column] }}
      </td>
    </ng-container>
  }

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="(expandedElement.set(
          expandedElement() === element ? null : element
        )); $event.stopPropagation()"
      >
        @if (expandedElement() === element) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="my-element-detail"
        [@detailExpand]="element === expandedElement() ? 'expanded' : 'collapsed'"
      >
        <ng-container *ngIf="editingId() === element.id; else readMode">
          <div class="first-half">
            <div>
              <label>Name:</label>
              <input
                type="text"
                [ngModel]="tempEdit.name"
                (input)="onInputChange($event, 'name')"
                placeholder="Enter name"
              />
            </div>
            <div>
              <label>Description:</label>
              <textarea
                [ngModel]="tempEdit.description"
                (input)="onInputChange($event, 'description')"
                placeholder="Enter description"
              ></textarea>
            </div>
            <div>
              <label>Cost:</label>
              <input
                type="number"
                step="0.01"
                [ngModel]="tempEdit.cost"
                (input)="onInputChange($event, 'cost')"
                placeholder="Enter cost"
              />
            </div>
          </div>
            <app-profile-editor [value]="element.profile" (valueChange)="onProfileChange($event)"></app-profile-editor>
            <div class="my-element-actions">
              <button mat-button (click)="saveEdit(element)">Save</button>
              <button mat-button (click)="cancelEdit()">Cancel</button>
            </div>
        </ng-container>


        <ng-template #readMode>
          <div class="my-element-diagram">
            <div class="my-element-sku">SKU: {{ element.sku }}</div>
            <div class="my-element-name">Name: {{ element.name }}</div>
            <div class="my-element-description">Description: {{ element.description }}</div>
            <div class="my-element-cost">Cost: {{ element.cost }}</div>
            <div class="my-element-cost">Profile type: {{ element.profile.type }}</div>
            <div class="my-element-cost">Available: {{ !!element.profile.available}}</div>

          </div>
          <div class="my-element-actions">
            <button mat-button (click)="startEditing(element)">Edit</button>
            <button mat-button (click)="openDeleteDialog(element)">Delete</button>
          </div>
        </ng-template>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="my-element-row"
    [class.my-expanded-row]="expandedElement() === element"
    (click)="expandedElement.set(
      expandedElement() === element ? null : element
    )"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="my-detail-row"
  ></tr>
</table>
