table {
  width: 100%;
}

.my-detail-row {
  height: 0;
}

.my-element-row:not(.my-expanded-row):hover {
  background: whitesmoke;
}

.my-element-row:not(.my-expanded-row):active {
  background: #efefef;
}

.my-element-row td {
  border-bottom-width: 0;
}

.my-element-detail {
  overflow: hidden;
  display: flex;
}

.my-element-diagram {
  width: 100%;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.my-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.my-element-actions {
  padding: 16px;
}

.my-element-description {
  padding: 8px;
  line-height: 1.4em;
}

.my-element-description-attribution {
  opacity: 0.5;
}
